
$colors: (
    primary: #F4C127,
    accent1: #D87D0F,
    accent2: #052D3E,
    warning: #A63305,
    success: #4D9BA6,

    light: #D9D9D9,
    medium: #737272,
    dark: #404040,

    text: #222
);