
$colors: (
    primary: #F4C127,
    accent1: #D87D0F,
    accent2: #052D3E,
    warning: #A63305,
    success: #4D9BA6,

    light: #D9D9D9,
    medium: #737272,
    dark: #404040,

    text: #222
);

$spacings: (
    none: 0,
    xsmall: 5px,
    small: 10px,
    medium: 20px,
    large: 30px,
    xlarge: 50px
);

$font-sizes: (
    xsmall: 10px,
    small: 12px,
    normal: 16px,
    medium: 20px,
    large: 26px,
    xlarge: 42px
);

$icon-sizes: (
    small: 16px,
    medium: 24px,
    large: 32px
);